// label {
//     display: block;
    
//     input, textarea {
//         display: block;
//         width: 50%;
//         margin-bottom: 20px;
//         padding: 1em;
//         // float: left;
//         text-align: center
//     }

//     .error1 {
//         margin-top: -20px;
//         background: yellow;
//         padding: .5em;
//         display: inline-block;
//         font-size: .9em;
//         margin-bottom: 20px;
//     }
//     .error2 {
//         margin-top: -20px;
//         background: yellow;
//         padding: .5em;
//         display: inline-block;
//         font-size: .9em;
//         margin-bottom: 20px;
//     }
// }

// .cta {
//     background: #7700FF;
//     border: none;
//     color: white;

//     text-transform: uppercase;
//     border-radius: 4px;
//     padding: 1em;
//     cursor: pointer;
//     font-family: 'Montserrat';
// }
#result {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}
form {border: 3px solid #f1f1f1;}

h1 {
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}